@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/metrica.css");
@import url("styles/vagas.css");
@import url("styles/depoimento.css");
@import url("styles/rodape.css");

:root{
    --cor-letra-logo: #3A404E;
    --cor-de-letra: #667085;
    --fonte-principal: "Inter";
    --main-color: #8E2424;
    --copyright: #98A2B3;
}

body{
    font-family: var(--fonte-principal);
}